// Mobile (up to 447px) ---------------------------------
// ------------------------------------------------------
.section-all-posts {
  margin-bottom: $padding;
}

.post-date {
  font-size: .75rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: $letter-spacing;
  line-height: 1;
  margin-bottom: .5em;
}

// Phablet (448px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {

}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {

}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {

}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {

}
