// Mobile (up to 447px) ---------------------------------
// ------------------------------------------------------
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.padding-single {
  padding: $padding;
}

.padding-half {
  padding: $padding / 2;
}

.padding-double {
  padding: $padding * 2;
}

// Phablet (448px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {

}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {

}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {

}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {

}
