// Mobile (up to 447px) ---------------------------------
// ------------------------------------------------------
.owl-carousel {
    position: relative;
}

.owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-size: 2rem;
  height: 40px;
  margin-top: -20px;
  color: rgba(255, 255, 255, .85);
}

.owl-prev {
  position: absolute;
  left: 1rem;
  top: 0;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, .25);
}

.owl-next {
  position: absolute;
  right: 1rem;
  top: 0;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, .25);
}

// Phablet (448px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {

}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {

}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {

}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {

}
