// Mobile (up to 447px) ---------------------------------
// ------------------------------------------------------
.section-header__logo {
  margin: .75rem 0;
  order: 2;
  text-align: center;

  a {
    display: block;
  }

  img {
    width: 100%;
    display: block;
    max-width: 30px;
    margin: 0 auto;
  }
}

// Phablet (448px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {

}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
  .section-header__logo {
    margin: .75rem 0 .75rem 1rem;
    order: 1;
  }
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {

}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {

}
