// Mobile (up to 447px) ---------------------------------
// ------------------------------------------------------
.section-ad {

}

.section-ad__ad-space {
  padding: $padding;
}

.section-ad__ad-space__ad {
  background: #f1f1f1;
  min-height: 10px;
}

// Phablet (448px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {

}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {

}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {

}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {

}
